<div class="modal-block" id="callback-form">
    <div class="modal-block__close"></div>
    <div class="modal-block__title">Связь с нами</div>
    <div class="modal-block__subtitle">Заполните форму ниже и мы перезвоним Вам в течение 5 минут!</div>
    <form action="/" class="modal-block__form">
        <input type="text" class="modal-block__input" placeholder="Ваше имя" required>
        <input type="text" class="modal-block__input" placeholder="Ваш телефон" required>
        <button type="submit" class="modal-block__button btn btn--blue">Перезвоните мне!</button>
        <div class="modal-block__info">Нажимая кнопку “Перезвоните мне” вы соглашаетесь с обработкой Ваших персональных данных</div>
    </form>
    <div class="modal-block__subtitle modal-block__subtitle_success">Наш оператор свяжется с Вами <br>в течение 5 минут!</div>
    <div class="modal-block__button modal-block__button_close  btn btn--blue">Хорошо</div>
</div>


<div class="modal-block modal-block_image" id="programm-1">
    <div class="modal-block__close"></div>
    <div class="modal-block__img"><img src="images/modal-img-1.jpg" alt=""></div>
    <div class="modal-block__inner">
        <div class="modal-block__label">Описание программы</div>
        <div class="modal-block__text">Самые дружелюбные герои всех времен - Микки Маус и его подруга Минни Маус приглашают детей на чудесный праздник, полный веселья, радости и смеха. Аниматор Микки Маус обязательно прихватит с собой набор волшебных инструментов, которые обязательно пригодятся для проведения веселых игр, увлекательных конкурсов и интересных соревнований!</div>
        <div class="modal-block__orange-label">Стоимость программы 1-го аниматора: 2500 рублей за час</div>
        <div class="modal-block__list">
            <span>В программу включено:</span>
            <ul>
                <li>Развлекательная часть с оригинальным реквизитом</li>
                <li>Профессиональный авкагрим (всем деткам)</li>
                <li>Музыкально сопровождение</li>
                <li>Твистинг (моделирование фигурок из шариков)</li>
                <li>Шоу мыльных пузырей (в подарок от 1,5 часов)</li>
            </ul>
        </div>
    </div>
</div>


<div class="modal-block modal-block_image" id="addon-1">
    <div class="modal-block__close"></div>
    <div class="modal-block__img"><img src="images/modal-img-2.jpg" alt=""></div>
    <div class="modal-block__inner">
        <div class="modal-block__label">Фотосъемка</div>
        <div class="modal-block__text">Самые дружелюбные герои всех времен - Микки Маус и его подруга Минни Маус приглашают детей на чудесный праздник, полный веселья, радости и смеха. Аниматор Микки Маус обязательно прихватит с собой набор волшебных инструментов, которые обязательно пригодятся для проведения веселых игр, увлекательных конкурсов и интересных соревнований!</div>
        <div class="modal-block__orange-label">Услуга: Съемка мероприятия и обработка от 50 фотографий.</div>
        <div class="modal-block__orange-label">Условия: Время работы: от 1 часа</div>
        <form action="/" class="modal-block__form modal-block__form_mini">
            <div class="modal-block__input-row">
                <input type="text" class="modal-block__input" placeholder="Ваше имя" required>
                <input type="text" class="modal-block__input" placeholder="Ваш телефон" required>
            </div>
            <button type="submit" class="modal-block__button btn btn--blue">Узнать стоимость</button>
            <div class="modal-block__info">Нажимая кнопку “Узнать стоимость” <br>Вы соглашаетесь на обработку Ваших персональных данных</div>
        </form>
        <div class="modal-block__subtitle modal-block__subtitle_success">Наш оператор свяжется с Вами <br>в течение 5 минут!</div>
        <div class="modal-block__button modal-block__button_close  btn btn--blue">Хорошо</div>
    </div>
</div>
