<section class="section-1">
    <img src="images/bg-section-1.jpg" alt="" class="section-1-bg">
    <div class="section-1__content container">
        <h2 class="s1-text-1">Создадим незабываемый праздник <br>Вашему ребенку</h2>
        <div class="s1-text-2">С полным погружением в любую тематику </div>
        <div class="s1-card">
            <img src="images/1.png" class="s1-card__decoration-1 wow fadeInRight">
            <img src="images/2.png" class="s1-card__decoration-2 wow fadeInLeft">
            <img src="images/3.png" class="s1-card__decoration-3 wow fadeIn">
            <img src="images/sec1-trace.png" class="s1-card__decoration-4 ">

            <div class="s1-card__text-1">Выезд профессиональных аниматоров на дом, кафе, детский сад и школу!</div>
            <div class="s1-card__text-2">Сэкономьте время, узнав стоимость организации праздника сейчас</div>
            <a href="#callback-form" class="btn btn--blue fancybox-btn">Рассчитать стоимость</a>
        </div>

    </div>
    <img src="images/4.png" class="s1-decoration-1">
</section>
