<div class="section-6">
    <div class="container">
        <!-- BEGIN show -->
        <div class="show" id="programms ">
            <div class="show__block-title block-title">Шоу-программы</div>

            <div class="show__types">
                <div class="show__type"><span class="show__link show__link_active" data-type="1">Аниматоры и программы</span></div>
                <div class="show__type"><span class="show__link" data-type="2">Квесты и мастер-классы</span></div>
                <div class="show__type"><span class="show__link" data-type="3">Тематические шоу</span></div>
            </div>

            <div class="show__slider  show__slider_active multi-slider" data-type="1">
                <div class="multi-slider__container swiper-container">
                    <div class="multi-slider__wrapper swiper-wrapper">
                        <div class="multi-slider__slide swiper-slide">
                            <div class="multi-slider__img">
                                <img src="images/a1.png" alt="">
                            </div>
                            <div class="multi-slider__label">Свинка пеппа</div>
                            <a href="#programm-1" class="multi-slider__more fancybox-btn">Подробнее</a>
                        </div>
                        <div class="multi-slider__slide swiper-slide">
                            <div class="multi-slider__img">
                                <img src="images/a2.png" alt="">
                            </div>
                            <div class="multi-slider__label">Тёмный рыцарь</div>
                            <a href="#programm-1" class="multi-slider__more fancybox-btn">Подробнее</a>
                        </div>
                        <div class="multi-slider__slide swiper-slide">
                            <div class="multi-slider__img">
                                <img src="images/a3.png" alt="">
                            </div>
                            <div class="multi-slider__label">МиМи Мишка</div>
                            <a href="#programm-1" class="multi-slider__more fancybox-btn">Подробнее</a>
                        </div>
                        <div class="multi-slider__slide swiper-slide">
                            <div class="multi-slider__img">
                                <img src="images/a4.png" alt="">
                            </div>
                            <div class="multi-slider__label">Феи Винкс</div>
                            <a href="#programm-1" class="multi-slider__more fancybox-btn">Подробнее</a>
                        </div>
                        <div class="multi-slider__slide swiper-slide">
                            <div class="multi-slider__img">
                                <img src="images/a5.png" alt="">
                            </div>
                            <div class="multi-slider__label">Веселый Пират</div>
                            <a href="#programm-1" class="multi-slider__more fancybox-btn">Подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="multi-slider__button multi-slider__button_type_prev swiper-button-prev"></div>
                <div class="multi-slider__button multi-slider__button_type_next swiper-button-next"></div>
            </div>
            <div class="show__slider  multi-slider" data-type="2">
                <div class="multi-slider__container swiper-container">
                    <div class="multi-slider__wrapper swiper-wrapper">
                        <div class="multi-slider__slide swiper-slide">
                            <div class="multi-slider__img">
                                <img src="images/a2.png" alt="">
                            </div>
                            <div class="multi-slider__label">Тёмный рыцарь</div>
                            <a href="" class="multi-slider__more">Подробнее</a>
                        </div>
                        <div class="multi-slider__slide swiper-slide">
                            <div class="multi-slider__img">
                                <img src="images/a1.png" alt="">
                            </div>
                            <div class="multi-slider__label">Свинка пеппа</div>
                            <a href="" class="multi-slider__more">Подробнее</a>
                        </div>
                        <div class="multi-slider__slide swiper-slide">
                            <div class="multi-slider__img">
                                <img src="images/a3.png" alt="">
                            </div>
                            <div class="multi-slider__label">МиМи Мишка</div>
                            <a href="" class="multi-slider__more">Подробнее</a>
                        </div>
                        <div class="multi-slider__slide swiper-slide">
                            <div class="multi-slider__img">
                                <img src="images/a4.png" alt="">
                            </div>
                            <div class="multi-slider__label">Феи Винкс</div>
                            <a href="" class="multi-slider__more">Подробнее</a>
                        </div>
                        <div class="multi-slider__slide swiper-slide">
                            <div class="multi-slider__img">
                                <img src="images/a5.png" alt="">
                            </div>
                            <div class="multi-slider__label">Веселый Пират</div>
                            <a href="" class="multi-slider__more">Подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="multi-slider__button multi-slider__button_type_prev swiper-button-prev"></div>
                <div class="multi-slider__button multi-slider__button_type_next swiper-button-next"></div>
            </div>
            <div class="show__slider  multi-slider" data-type="3">
                <div class="multi-slider__container swiper-container">
                    <div class="multi-slider__wrapper swiper-wrapper">
                        <div class="multi-slider__slide swiper-slide">
                            <div class="multi-slider__img">
                                <img src="images/a3.png" alt="">
                            </div>
                            <div class="multi-slider__label">МиМи Мишка</div>
                            <a href="" class="multi-slider__more">Подробнее</a>
                        </div>
                        <div class="multi-slider__slide swiper-slide">
                            <div class="multi-slider__img">
                                <img src="images/a1.png" alt="">
                            </div>
                            <div class="multi-slider__label">Свинка пеппа</div>
                            <a href="" class="multi-slider__more">Подробнее</a>
                        </div>
                        <div class="multi-slider__slide swiper-slide">
                            <div class="multi-slider__img">
                                <img src="images/a2.png" alt="">
                            </div>
                            <div class="multi-slider__label">Тёмный рыцарь</div>
                            <a href="" class="multi-slider__more">Подробнее</a>
                        </div>
                        <div class="multi-slider__slide swiper-slide">
                            <div class="multi-slider__img">
                                <img src="images/a4.png" alt="">
                            </div>
                            <div class="multi-slider__label">Феи Винкс</div>
                            <a href="" class="multi-slider__more">Подробнее</a>
                        </div>
                        <div class="multi-slider__slide swiper-slide">
                            <div class="multi-slider__img">
                                <img src="images/a5.png" alt="">
                            </div>
                            <div class="multi-slider__label">Веселый Пират</div>
                            <a href="" class="multi-slider__more">Подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="multi-slider__button multi-slider__button_type_prev swiper-button-prev"></div>
                <div class="multi-slider__button multi-slider__button_type_next swiper-button-next"></div>
            </div>
        </div>
        <!-- END show -->
    </div>
</div>
