<section class="section-4 container">
    <h2 class="section-4__title">Мы знаем, как сделать детей
        счастливыми!</h2>
    <div class="section-4__text-2">Улыбка ребенка - это самый большой повод для радости</div>
    <div class="we-know-block">
        <div class="wk-item wk-item--1 wow zoomInUp" data-wow-delay="0.5s">
            <img src="images/how-1.png" alt="" class="wk-item__img">
            <div class="wk-item__title">Более 38.000 детей</div>
            <div class="wk-item__desc"> побывали на наших праздниках</div>
        </div>
        <div class="wk-item wk-item--2 wow zoomInDown" data-wow-delay="0.8s">
            <img src="images/how-2.png" alt="" class="wk-item__img">
            <div class="wk-item__title">Более 15 лет</div>
            <div class="wk-item__desc"> работаем с детьми</div>
        </div>
        <div class="wk-item wk-item--3 wow zoomInUp" data-wow-delay="1.2s">
            <img src="images/how-3.png" alt="" class="wk-item__img">
            <div class="wk-item__title">Более 6000</div>
            <div class="wk-item__desc"> праздников</div>
        </div>
        <div class="wk-item wk-item--4 wow zoomInDown" data-wow-delay="1.5s">
            <img src="images/how-4.png" alt="" class="wk-item__img">
            <div class="wk-item__title">Более 250 костюмов</div>
            <div class="wk-item__desc"> любимых героев</div>
        </div>
        <img src="images/how-trace-1.png" alt="" class="wk-trace wk-trace--1 wow fadeIn" data-wow-delay="1s">
        <img src="images/how-trace-2.png" alt="" class="wk-trace wk-trace--2 wow fadeIn" data-wow-delay="1.3s">
        <img src="images/how-trace-3.png" alt="" class="wk-trace wk-trace--3 wow fadeIn" data-wow-delay="1.5s">
    </div>
    <img src="images/fox.jpg" alt="" class="wk-big-pic">
</section>
