<div class="section-9  wow rotateInDownRight">
    <div class="container">
        <!-- BEGIN portfolio -->
        <div class="portfolio" id="portfolio">
            <div class="portfolio__block-title block-title">Портфолио организованных праздников</div>
            <div class="fotoslider">
                <div class="fotoslider__container swiper-container">
                    <div class="fotoslider__wrapper swiper-wrapper">
                        <div class="fotoslider__slide swiper-slide">
                            <img src="images/slide-2.jpg" alt="">
                            <div class="hidden-content">
                                <div class="hidden-content__title">Название праздника</div>
                                <div class="hidden-content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus</div>
                            </div>
                        </div>
                        <div class="fotoslider__slide swiper-slide">
                            <img src="images/slide-1.jpg" alt="">
                            <div class="hidden-content">
                                <div class="hidden-content__title">Название праздника2</div>
                                <div class="hidden-content__text">2Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus</div>
                            </div>
                        </div>
                        <div class="fotoslider__slide swiper-slide">
                            <img src="images/slide-2.jpg" alt="">
                            <div class="hidden-content">
                                <div class="hidden-content__title">Название праздника3</div>
                                <div class="hidden-content__text">3Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus</div>
                            </div>
                        </div>
                        <div class="fotoslider__slide swiper-slide">
                            <img src="images/slide-1.jpg" alt="">
                            <div class="hidden-content">
                                <div class="hidden-content__title">Название праздника4</div>
                                <div class="hidden-content__text">4Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fotoslider__pagination swiper-pagination"></div>

                <div class="fotoslider__button fotoslider__button_type_prev swiper-button-prev"></div>
                <div class="fotoslider__button fotoslider__button_type_next swiper-button-next"></div>
            </div>
            <div class="portfolio__info">
                <div class="portfolio__title"></div>
                <div class="portfolio__text"></div>
            </div>
        </div>
        <!-- END portfolio -->

        <!-- BEGIN organizers -->
        <div class="organizers" id="crew">
            <div class="organizers__block-title block-title">Организаторы Ваших мероприятий</div>
            <div class="organizers__item">
                <div class="organizers__content">
                    <img src="images/org1.png" alt="" class="organizers__img">
                    <div class="organizers__info">
                        <div class="organizers__name">Кристина Александровна</div>
                        <div class="organizers__role">Руководитель</div>
                        <div class="organizers__text">Ведущая взрослых и детских мероприятий. Опыт работы - 10 лет.Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</div>
                    </div>
                </div>
            </div>
            <div class="organizers__item">
                <div class="organizers__content">
                    <img src="images/org2.png" alt="" class="organizers__img">
                    <div class="organizers__info">
                        <div class="organizers__name">Владислав Редругин</div>
                        <div class="organizers__role">Аниматор - ведущий</div>
                        <div class="organizers__text">Возраст - 34 года, Образование: СПБГУ факультет: искусств (театральное искуство), Опыт работы с детьми 7 лет..Aenean euismod bibendum laoreet. Proin gravida dolor</div>
                    </div>
                </div>
            </div>
            <div class="organizers__item">
                <div class="organizers__content">
                    <img src="images/org1.png" alt="" class="organizers__img">
                    <div class="organizers__info">
                        <div class="organizers__name">Кристина Александровна</div>
                        <div class="organizers__role">Руководитель</div>
                        <div class="organizers__text">Ведущая взрослых и детских мероприятий. Опыт работы - 10 лет.Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</div>
                    </div>
                </div>
            </div>
            <div class="organizers__item">
                <div class="organizers__content">
                    <img src="images/org2.png" alt="" class="organizers__img">
                    <div class="organizers__info">
                        <div class="organizers__name">Владислав Редругин</div>
                        <div class="organizers__role">Руководитель</div>
                        <div class="organizers__text">Ведущая взрослых и детских мероприятий. Опыт работы - 10 лет.Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END organizers -->
    </div>
</div>
