<div class="section-7">
    <div class="container">
        <div class="block-title">Дополнительно к празднику</div>
    </div>
    <!-- BEGIN addons -->
    <div class="addons">
        <div class="addons__item">
            <img src="images/addon-1.jpg" class="addons__img" alt="">
            <a href="#addon-1" class="addons__link fancybox-btn">Фото-видео съемка</a>
        </div>
        <div class="addons__item">
            <img src="images/addon-2.jpg" class="addons__img" alt="">
            <a href="#addon-1" class="addons__link fancybox-btn">Ди-Джей</a>
        </div>
        <div class="addons__item">
            <img src="images/addon-3.jpg" class="addons__img" alt="">
            <a href="#addon-1" class="addons__link fancybox-btn">Сахарная вата</a>
        </div>
        <div class="addons__item">
            <img src="images/addon-4.jpg" class="addons__img" alt="">
            <a href="#addon-1" class="addons__link fancybox-btn">Хлопушки</a>
        </div>
        <div class="addons__item">
            <img src="images/addon-1.jpg" class="addons__img" alt="">
            <a href="#addon-1" class="addons__link fancybox-btn">Фото-видео съемка</a>
        </div>
        <div class="addons__item">
            <img src="images/addon-2.jpg" class="addons__img" alt="">
            <a href="#addon-1" class="addons__link fancybox-btn">Подробнее</a>
        </div>
    </div>
    <!-- END addons -->
</div>