<div class="section-11">
    <div class="container">
        <!-- BEGIN reviews -->
        <div class="reviews" id="reviews">
            <div class="reviews__block-title block-title">Реальные отзывы <br>Наших клиентов</div>

            <div class="reviews__grid">
                <div class="reviews__item">
                    <div class="reviews__container">
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" data-fancybox class="reviews__image reviews__image_type_video">
                            <img src="images/video-1.jpg" alt="">
                        </a>
                        <div class="reviews__content">
                            <div class="reviews__name">Рахим из Dylight</div>
                            <div class="reviews__role">Отец двух детей</div>
                            <div class="reviews__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</div>
                            <a href="" class="reviews__link">
                                <img src="img/vk2.svg" alt="">
                                <span>vk.com/time_to_depart</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="reviews__container">
                        <div class="reviews__image reviews__image_type_photo">
                            <img src="images/video-2.png" alt="">
                        </div>
                        <div class="reviews__content">
                            <div class="reviews__name">Рахим из Dylight</div>
                            <div class="reviews__role">Отец одного ребенка</div>
                            <div class="reviews__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</div>
                            <a href="" class="reviews__link">
                                <img src="img/vk2.svg" alt="">
                                <span>vk.com/time_to_depart</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="reviews__container">
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" data-fancybox class="reviews__image reviews__image_type_video">
                            <img src="images/video-1.jpg" alt="">
                        </a>
                        <div class="reviews__content">
                            <div class="reviews__name">Рахим из Dylight</div>
                            <div class="reviews__role">Отец двух детей</div>
                            <div class="reviews__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</div>
                            <a href="" class="reviews__link">
                                <img src="img/vk2.svg" alt="">
                                <span>vk.com/time_to_depart</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="reviews__container">
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" data-fancybox class="reviews__image reviews__image_type_video">
                            <img src="images/video-1.jpg" alt="">
                        </a>
                        <div class="reviews__content">
                            <div class="reviews__name">Рахим из Dylight</div>
                            <div class="reviews__role">Отец двух детей</div>
                            <div class="reviews__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</div>
                            <a href="" class="reviews__link">
                                <img src="img/vk2.svg" alt="">
                                <span>vk.com/time_to_depart</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="reviews__container">
                        <div class="reviews__image reviews__image_type_video">
                            <img src="images/video-1.jpg" alt="">
                        </div>
                        <div class="reviews__content">
                            <div class="reviews__name">Рахим из Dylight</div>
                            <div class="reviews__role">Отец двух детей</div>
                            <div class="reviews__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</div>
                            <a href="" class="reviews__link">
                                <img src="img/vk2.svg" alt="">
                                <span>vk.com/time_to_depart</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="reviews__container">
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" data-fancybox class="reviews__image reviews__image_type_video">
                            <img src="images/video-1.jpg" alt="">
                        </a>
                        <div class="reviews__content">
                            <div class="reviews__name">Рахим из Dylight</div>
                            <div class="reviews__role">Отец двух детей</div>
                            <div class="reviews__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</div>
                            <a href="" class="reviews__link">
                                <img src="img/vk2.svg" alt="">
                                <span>vk.com/time_to_depart</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="reviews__container">
                        <div class="reviews__image reviews__image_type_photo">
                            <img src="images/video-3.png" alt="">
                        </div>
                        <div class="reviews__content">
                            <div class="reviews__name">Рахим из Dylight</div>
                            <div class="reviews__role">Отец двух детей</div>
                            <div class="reviews__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</div>
                            <a href="" class="reviews__link">
                                <img src="img/vk2.svg" alt="">
                                <span>vk.com/time_to_depart</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="reviews__container">
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" data-fancybox class="reviews__image reviews__image_type_video">
                            <img src="images/video-1.jpg" alt="">
                        </a>
                        <div class="reviews__content">
                            <div class="reviews__name">Рахим из Dylight</div>
                            <div class="reviews__role">Отец двух детей</div>
                            <div class="reviews__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</div>
                            <a href="" class="reviews__link">
                                <img src="img/vk2.svg" alt="">
                                <span>vk.com/time_to_depart</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="reviews__see-all btn btn_color_purple">Показать все</div>
            </div>
        </div>
        <!-- END reviews -->

        <!-- BEGIN consultation -->
        <div class="consultation wow jackInTheBox">
            <div class="consultation__main-block">
                <div class="consultation__block-title block-title">Остались вопросы?</div>
                <div class="consultation__block-subtitle block-subtitle">Оставьте заявку и мы перезвоним <br>в течение 5 минут</div>
                <form action="/" class="consultation__callback-form callback-form">
                    <div class="callback-form__input-row">
                        <input type="text" class="callback-form__input" placeholder="Ваше имя" required>
                        <input type="text" class="callback-form__input" placeholder="Ваш телефон" required>
                    </div>
                    <button type="submit" class="callback-form__button btn btn_color_purple">Получить консультацию</button>
                    <div class="callback-form__info">Нажимая кнопку “Получить консультацию”, вы соглашаетесь на обработку Ваших персональных данных.</div>
                </form>
                <img src="images/bg-question-1.png" alt="" class="consultation__image-1">
                <img src="images/bg-question-2.png" alt="" class="consultation__image-2">
            </div>
        </div>
        <!-- END consultation -->
    </div>
</div>
