<header class="site-header ">
    <a href="" class="sh-logo">
        <img src="img/logo.svg" alt="">
    </a>
    <nav class="sh-menu">
        <a href="" class="sh-menu__link">Шоу-программы</a>
        <a href="" class="sh-menu__link">Наша команда</a>
        <a href="" class="sh-menu__link">Портфолио</a>
        <a href="" class="sh-menu__link">Отзывы</a>
    </nav>
    <div class="sh-contacts">
        <div class="sh-contacts__left">
            <div class="shc-work-time">c 9:00 до 22:00</div>
            <a href="" class="shc-work-phone">+7 (905) 265-44-77</a>
        </div>
        <div class="sh-contacts__right">
            <div class="btn">
                Связаться с нами
            </div>
        </div>
    </div>
</header>
