<div class="modal-block" id="callback-form">
    <div class="modal-block__close"></div>
    <div class="modal-block__title">Связь с нами</div>
    <div class="modal-block__subtitle">Заполните форму ниже и мы перезвоним Вам в течении 5 минут!</div>
    <form action="/" class="modal-block__form">
        <input type="text" class="modal-block__input" placeholder="Ваше имя" required>
        <input type="text" class="modal-block__input" placeholder="Ваш телефон" required>
        <button type="submit" class="modal-block__button btn btn--blue">Перезвоните мне!</button>
        <div class="modal-block__info">Нажимая кнопку “Перезвоните мне” вы соглашаетесь с обработкой Ваших персональных данных</div>
    </form>
    <div class="modal-block__button modal-block__button_close  btn btn--blue">Хорошо</div>
</div>