<section class="section-3 ">
    <div class="container">
        <h2 class="section-3__title">Воспользуйтесь лучшим предложением на организацию праздника</h2>
        <form action="" class="s3-cf">
            <div class="s3-cf__input-row">
                <input type="text" class="callback-form__input callback-form__input--s3-cf" placeholder="Ваше имя">

                <input type="text" class="callback-form__input callback-form__input--s3-cf" placeholder="Ваш телефон">
            </div>
            <div class="s3-cf__bottom">
                <div class="btn btn--blue">Сэкономить</div>
                <div class="s3-cf__desc">Нажимая кнопку Сэкономить, вы соглашаетесь на обработку Вагших
                    персональных данных</div>
            </div>
        </form>
    </div>
</section>
