<section class="section-5">
    <div class="container">
        <div class="fotoslider">
            <div class="fotoslider__container swiper-container">
                <div class="fotoslider__wrapper swiper-wrapper">
                    <div class="fotoslider__slide swiper-slide">
                        <img src="images/slide-2.jpg" alt="">
                        <div class="hidden-content">
                            <div class="hidden-content__title">Название праздника</div>
                            <div class="hidden-content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
                                justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis
                                parturient montes, nascetur ridiculus mus</div>
                        </div>
                    </div>
                    <div class="fotoslider__slide swiper-slide">
                        <img src="images/slide-1.jpg" alt="">
                        <div class="hidden-content">
                            <div class="hidden-content__title">Название праздника2</div>
                            <div class="hidden-content__text">2Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
                                justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis
                                parturient montes, nascetur ridiculus mus</div>
                        </div>
                    </div>
                    <div class="fotoslider__slide swiper-slide">
                        <img src="images/slide-2.jpg" alt="">
                        <div class="hidden-content">
                            <div class="hidden-content__title">Название праздника3</div>
                            <div class="hidden-content__text">3Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
                                justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis
                                parturient montes, nascetur ridiculus mus</div>
                        </div>
                    </div>
                    <div class="fotoslider__slide swiper-slide">
                        <img src="images/slide-1.jpg" alt="">
                        <div class="hidden-content">
                            <div class="hidden-content__title">Название праздника4</div>
                            <div class="hidden-content__text">4Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
                                justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis
                                parturient montes, nascetur ridiculus mus</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fotoslider__pagination swiper-pagination"></div>

            <div class="fotoslider__button fotoslider__button_type_prev swiper-button-prev"></div>
            <div class="fotoslider__button fotoslider__button_type_next swiper-button-next"></div>
        </div>
    </div>
    <div class="gifts-card">
        <div class="gifts-card__title">Раздаём подарки всем!</div>
        <div class="gifts-card__line-1">Шоу мыльных пузырей в подарок!
        </div>
        <div class="gifts-card__line-2">при заказе программы от 1,5 часов или 2-х аниматоров</div>
        <form action="" class="s3-cf s3-cf--section-5">
            <div class="s3-cf__input-row">
                <input type="text" class="callback-form__input callback-form__input--s3-cf" placeholder="Ваше имя">

                <input type="text" class="callback-form__input callback-form__input--s3-cf" placeholder="Ваш телефон">
            </div>
            <div class="s3-cf__bottom">
                <div class="btn">Сэкономить</div>
                <div class="s3-cf__desc">Нажимая кнопку Сэкономить, вы соглашаетесь на обработку Вагших
                    персональных данных</div>
            </div>
        </form>
        <img src="images/s5-d1.png" alt="" class="gifts-card__decoration gifts-card__decoration--1">
        <img src="images/s5-d2.png" alt="" class="gifts-card__decoration gifts-card__decoration--2">
        <img src="images/s5-d3.png" alt="" class="gifts-card__decoration gifts-card__decoration--3">
    </div>
</section>
