<div class="section-9">
    <div class="container">
        <!-- BEGIN why -->
        <div class="why">
            <div class="why__block-title block-title">Почему более 1000 родителей <br>доверили организацию праздника нам</div>

            <div class="why__row why__row_type_big">
                <div class="why__item-why item-why item-why_type_big">
                    <div class="item-why__img"><img src="images/w1.png" alt=""></div>
                    <div class="item-why__label">Огромный опыт</div>
                    <div class="item-why__text">С 2009 года провели 78 крупных детских мероприятий, численностью от 150 детей. Только за 2014 год провели 1500 детских дней рождений</div>
                </div>
                <div class="why__item-why item-why item-why_type_big">
                    <div class="item-why__img"><img src="images/w2.png" alt=""></div>
                    <div class="item-why__label">Идеальные костюмы</div>
                    <div class="item-why__text">Мы сшили более 127 ярких качественных костюмов героев и разработали эксклюзивный игровой реквизит под каждую программу.</div>
                </div>
            </div>

            <div class="why__row why__row_type_small">
                <div class="why__item-why item-why item-why_type_small">
                    <div class="item-why__img"><img src="images/w3.png" alt=""></div>
                    <div class="item-why__label">Выгодные праздники</div>
                    <div class="item-why__text">Наши праздники отличаются насыщенностью программ, в которые бесплатно входят детские фокусы, мини - шоу мыльных пузырей, аквагрим и шарики.</div>
                </div>
                <div class="why__item-why item-why item-why_type_small">
                    <div class="item-why__img"><img src="images/w4.png" alt=""></div>
                    <div class="item-why__label">Уникальные сценарии</div>
                    <div class="item-why__text">Мы предложим вам более 50 уникальных, продуманных до мелочей программ или воплотим любую вашу идею</div>
                </div>
                <div class="why__item-why item-why item-why_type_small">
                    <div class="item-why__img"><img src="images/w5.png" alt=""></div>
                    <div class="item-why__label">Команда профессионалов</div>
                    <div class="item-why__text">В нашей команде 11 артистов с опытом работы более 5 лет, которые с успехом проводят программы как с малышами от 2 лет, так и с подростками.</div>
                </div>
                <div class="why__item-why item-why item-why_type_small">
                    <div class="item-why__img"><img src="images/w6.png" alt=""></div>
                    <div class="item-why__label">Праздники без хлопот</div>
                    <div class="item-why__text">Мы ценим ваше время, поэтому все заботы по организации праздника возьмем на себя, вам нужно только выбрать программу.</div>
                </div>
            </div>

        </div>
        <!-- END why -->
    </div>
</div>