$font1: "Roboto", sans-serif;


a{
	text-decoration: none;
}


body{
	color: #1c1c1c;
	font-family: $font1;
	margin: 0;
}


.container{
	max-width: 90%;
	width: 768px;
	margin: 0 auto;
}


.header{
	height: 80px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #ffffff;
	z-index: 100;
	.container{
		height: 100%;
	}
	.mobile-menu-toggle{
		display: none;
		@include media((
						display: (sm: block)
		));
		svg{
			width: 80px;
			height: 80px;
			display: block;
			cursor: pointer;
			-webkit-tap-highlight-color: transparent;
			transition: transform 400ms;
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
			user-select: none;
			.line {
				fill:none;
				transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
				stroke:#000;
				stroke-width:5.5;
				stroke-linecap:round;
				&.top{
					stroke-dasharray: 40 121;
				}
				&.bottom{
					stroke-dasharray: 40 121;
				}
			}
		}
		&.active{
			svg{
				transform: rotate(45deg);
				.line{
					&.top{
						stroke-dashoffset: -68px;
					}
					&.bottom{
						stroke-dashoffset: -68px;
					}
				}
			}
		}
	}
	.menu{
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 501px;
		height: 100%;
		margin: 0 auto;
		background: #ffffff;
		box-sizing: border-box;
		@include media((
						display: (sm: none),
						width: (sm: 100%),
						height: (sm: auto),
						text-align: (sm: center),
						padding-bottom: (sm: 10px),
		));
		li{
			box-sizing: border-box;
			@include media((
							padding: (sm: 10px),
			));
		}
		a{
			color: #435993;
			font-size: 14px;
			font-weight: 300;
			&:hover,
			&.active{
				color: #1c1c1c;
			}
		}
	}
}
.main{
	padding-top: 80px;
	padding-bottom: 74px;
	background: url("../img/bg.jpg") center top 80px no-repeat;
	background-size: 100% auto;
	@include media((
					background-size: (sm: 768px auto),
	));
	.title{
		color: #000000;
		font-size: 70px;
		font-weight: 100;
		margin-top: 114px;
		text-align: center;
	}
	.block{
		.img{
			width: 47px;
			height: 47px;
			margin: 0 auto;
			margin-bottom: 22px;
			img{
				display: block;
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
		.block-title{
			color: #1c1c1c;
			font-size: 30px;
			font-weight: 300;
			text-align: center;
		}
		.input-block,
		.textarea-block{
			width: 520px;
			max-width: 100%;
			position: relative;
			margin: 0 auto;
			span{
				color: #c8c8c8;
				font-size: 24px;
				text-align: center;
				width: 100%;
				height: 100%;
				position: absolute;
				pointer-events: none;
				left: 0;
				top: 0;
				transition: 0.2s ease all;
				box-sizing: border-box;
				padding-top: 20px;
				line-height: 0.8;
			}
			input, textarea{
				box-sizing: border-box;
				background: #ffffff;
				color: #1c1c1c;
				font-family: $font1;
				font-size: 20px;
				font-weight: 400;
				width: 100%;
				border: 1px solid #e5e5e5;
				border-radius: 5px;
				&:focus{
					outline: none;
					border: 1px solid #435993;
				}
				&:focus,
				&:not(:focus):valid{
					~span{
						font-size: 14px;
						padding-top: 8px !important;
					}
				}
			}
			input{
				height: 60px;
				text-align: center;
				padding-top: 15px;
			}
			&.textarea-block{
				span{
					font-size: 20px;
					text-align: left;
					padding-left: 21px;
				}
				textarea{
					height: 181px;
					resize: none;
					padding: 24px 20px 0;
				}
			}
		}
		.select-block{
			width: 320px;
			max-width: 100%;
			position: relative;
			margin: 0 auto;
			>span{
				color: #c8c8c8;
				font-size: 24px;
				text-align: center;
				width: 100%;
				height: 100%;
				position: absolute;
				pointer-events: none;
				left: 0;
				top: 0;
				transition: 0.2s ease all;
				box-sizing: border-box;
				padding-top: 20px;
				line-height: 0.8;
			}
			select{
				&:valid{
					~span{
						font-size: 14px;
						padding-top: 8px;
					}
				}
			}
		}
		.checkbox {
			input {
				position: absolute;
				z-index: -1;
				opacity: 0;
				margin: 0;
				+ span {
					position: relative;
					padding: 0 0 0 32px;
					cursor: pointer;
					color: #000000;
					font-size: 16px;
					font-weight: 300;
					&::before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 20px;
						height: 20px;
						border-radius: 4px;
						border: 1px solid #435993;
						background-color: #ffffff;
						box-sizing: border-box;
					}
					&::after {
						content: "";
						display: none;
						position: absolute;
						left: 4px;
						top: 6px;
						width: 13px;
						height: 9px;
						box-sizing: border-box;
						background: url("../img/check.svg") center top no-repeat;
						background-size: 100% auto;
					}
				}
				&:checked {
					+ span{
						&::before {
							background-color: #435993;
						}
						&::after {
							display: block;
						}
					}
				}
				&:not(:checked):hover {
					+ span{
						&:before {
							background-color: #e9efff;
						}
					}
				}
			}
		}

		&#block-1{
			margin-top: 59px;
			.block-title{
				margin-bottom: 46px;
			}
			.input-block,
			.select-block{
				margin-bottom: 25px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}

		&#block-2{
			margin-top: 73px;
			.block-title{
				margin-bottom: 46px;
				padding-top: 2px;
			}
			.columns-block{
				column-count: 3;
				column-gap: 70px;
				@include media((
								column-count: (sm: 2, 430: 1),
				));
				>div{
					margin-bottom: 16px;
				}
			}
		}

		&#block-3{
			margin-top: 119px;
			.block-title{
				margin-bottom: 48px;
				padding-top: 2px;
			}
			.slider{
				margin: 93px auto 0;
				border: none;
				background: url("../img/line-gray.svg") left bottom no-repeat;
				background-size: 100% auto;
				.ui-widget-header{
					background: url("../img/line-colorsvg.svg") left bottom no-repeat;
					z-index: 2;
				}
				.ui-slider-handle {
					width: 24px;
					height: 26px;
					cursor: pointer;
					margin-left: -12px;
					margin-top: 4px;
					top: 100%;
					border: none;
					outline: none;
					background: url("../img/slide.svg") center center no-repeat;
					background-size: contain;
				}
				.ui-slider-pip-3{
					display: none;
				}
				.ui-slider-pip{
					width: auto;
					height: 30px;
					color: #2e211c;
					font-size: 13px;
					font-weight: 300;
					line-height: 18.99px;
					top: auto;
					bottom: 0;
					margin: 0;
					text-align: left;
					z-index: 1;
					.ui-slider-line {
						background: none;
						width: 1px;
						height: 100%;
						left: 0;
						box-sizing: border-box;
						border-left: 1px dotted #b4b4b4;
						z-index: -1;
					}
					.ui-slider-label {
						position: absolute;
						top: auto;
						left: 0;
						bottom: 100%;
						margin-left: 0;
						width: auto;
						font-weight: 400;
						@include media((
										display: (sm: none),
						));
					}
					&.ui-slider-pip-selected{
						.ui-slider-label {
							@include media((
											display: (sm: block),
							));
						}
					}
					&:last-child{
						text-align: right;
						left: auto !important;
						right: 0;
						.ui-slider-line {
							left: auto;
							right: 0;
						}
						.ui-slider-label {
							right: 0;
						}
					}
					&.ui-slider-pip-0{width: 70px;}
					&.ui-slider-pip-1{width: 125px;}
					&.ui-slider-pip-2{
						width: 175px;
						@include media((
										width: (sm: 125px),
						));
					}
					&.ui-slider-pip-4{width: 155px;}
					&:hover{
						.ui-slider-label {
							color: #435993;
						}
					}

				}
			}
		}

		&#block-4{
			margin-top: 103px;
			.block-title{
				margin-bottom: 11px;
				padding-top: 2px;
			}
			.text{
				max-width: 500px;
				margin: 0 auto;
				font-size: 16px;
				font-weight: 300;
				line-height: 23.99px;
				text-align: center;
			}
			.textarea-block{
				margin-top: 38px;
				span{
					padding-top: 23px;
				}
			}
		}

		&.last-block{
			margin-top: 66px;
			text-align: center;
			button{
				width: 116px;
				height: 50px;
				background-color: #435993;
				border-radius: 10px;
				color: #ffffff;
				font-size: 16px;
				font-weight: 300;
				border: none;
				display: inline-block;
				cursor: pointer;
				&:focus{
					outline: none;
				}
			}
		}
	}
}