.block-title{
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  font-family: $font2;
  font-style: italic;
  text-align: center;
}


.reviews{
  &__title{
  }

  &__grid{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    &__item{
      width: 25%;
      padding-right: 15px;
      padding-left: 15px;
      margin-bottom: 30px;
    }
  }
}