.section-11{
  padding-top: 48px;
  padding-bottom: 78px;
  background: url("../images/bg-section-11.jpg") center bottom no-repeat;
  overflow: hidden;
  @include media((
          padding-bottom: (sm:48px),
  ));
}

.reviews{
  &__block-title{
    margin-bottom: 60px;
    @include media((
            margin-bottom: (sm:30px),
    ));
  }
  &__grid{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  &__item{
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 30px;
    @include media((
            flex: (lg:0 0 33.333333%,md:0 0 50%,sm:0 0 100%),
            max-width: (lg:33.333333%,md:50%,sm:100%),
    ));
    &:nth-child(n+4){
      @include media((
              display: (sm:none),
      ));
    }
  }
  &__container{
    box-shadow: 0 0 21px 1px rgba(123, 134, 138, 0.21);
    background-color: #ffffff;
  }
  &__image{
    display: block;
    width: 100%;
    height: 172px;
    img{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &_type{
      &_video{
        position: relative;
        &::after{
          content: "";
          width: 72px;
          height: 50px;
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -36px;
          margin-top: -25px;
          background: url("../img/you.svg") center center no-repeat;
          background-size: contain;
        }
      }
    }
  }
  &__content{
    display: block;
    width: 100%;
    padding: 30px 20px 30px 30px;

  }
  &__name{
    color: #000000;
    font-family: $font2;
    font-size: 18px;
    font-weight: 700;
  }
  &__role{
    color: #a1a1a1;
    font-family: $font2;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
  }
  &__text{
    height: 98px;
    color: #000000;
    font-family: $font2;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    margin-top: 23px;
  }
  &__link{
    display: flex;
    align-items: center;
    margin-top: 24px;
    img{
      width: 21px;
      min-width: 21px;
      display: block;
      margin-right: 12px;
    }
    span{
      color: #89b2cc;
      font-family: $font2;
      font-size: 12px;
      font-weight: 700;
      position: relative;
      overflow: hidden;
      &::after{
        content: "";
        display: block;
        height: 100%;
        width: 66px;
        position: absolute;
        right: 0;
        top: 0;
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
      }
    }
    &:hover{
      span{
        color: #4f6674;
      }
    }
  }

  &__see-all{
    display: none;
    margin: 0 auto 30px;
    @include media((
            display: (sm:flex),
    ));
  }
}


.consultation{
  padding-bottom: 251px;
  @include media((
          padding-bottom: (lg:223px,md:170px,sm:0),
  ));
  &__main-block{
    padding: 47px 20px 68px;
    position: relative;
    box-shadow: 0 9px 60px 2px rgba(0, 138, 190, 0.17);
    border-radius: 4px;
    background-color: #ffffff;
    @include media((
            padding: (md: 30px 20px 40px),
    ));
    &::before{
      content: "";
      display: block;
      width: 1065px;
      height: 679px;
      position: absolute;
      right: -66px;
      bottom: -251px;
      background: url("../images/bg-question.png") center center no-repeat;
      background-size: 100% auto;
      pointer-events: none;
      @include media((
              width: (lg:945px,md:715px),
              height: (lg:602px,md:455px),
              right: (lg:-57px,md:-40px),
              bottom: (lg:-222px,md:-170px),
              display: (sm:none),
      ));
    }
  }
  &__block-title{
    margin-bottom: 12px;
  }
  &__block-subtitle{
  }
  &__callback-form{
    margin-top: 33px;
  }
  &__image-1{
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    @include media((
            width: (lg:230px,md:160px),
            display: (sm:none),
    ));
  }
  &__image-2{
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    @include media((
            width: (lg:210px,md:150px),
            display: (sm:none),
    ));
  }
}