.section-2 {
    text-align: center;

    &__text-1 {
        font-family: "DejaVu Serif";
        color: #2f313f;
        font-size: 44px;
        font-style: italic;
        font-weight: 700;
        margin-top: 15px;
        margin-bottom: 13px;
    }

    &__text-2 {
        font-family: "DejaVu Serif";
        color: #000000;
        font-size: 22px;
        font-style: italic;
    }


}

.s2-fb {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &--tc-gren {
        color: #00a413;
    }

    &--tc-blue {
        color: #00a7ff;
    }

    &__title {
        font-family: "DejaVu Serif";
        color: #2f313f;
        font-size: 33px;
        font-weight: 700;
    }

    &__old-price {
        font-family: "DejaVu Serif";
        font-size: 24px;
        font-weight: 400;
        text-decoration: line-through;
        margin-top: 43px;
    }

    &__new-pice {
        font-family: "DejaVu Serif";
        font-size: 46px;
        font-weight: 700;
    }

    &__left {}

    &__center {
        img {}
    }

    &__left,
    &__right {
        padding-top: 50px;
    }

    &__right {

        .s2-fb__old-price {}

        .s2-fb__new-pice {}
    }
}


@media (max-width:767px) {
    .section-2__text-1 {

        font-size: 20px;
    }

    .section-2__text-2 {
        font-size: 16px;
        margin-top: 5px;
    }

    .s2-fb {
        flex-direction: column;
        align-items: center;
        margin-top: 0;

        &__right {
            order: -1;
            padding-top: 20px;
        }

        &__left {
            order: -2;
        }

        &__title {
            font-size: 24px;
        }

        &__old-price {
            font-size: 23px;
            margin-top: 20px;
        }

        &__new-pice {
            font-size: 36px;
        }

        &__center {
            margin-top: 10px;

            img {
                width: 200px;
            }
        }
    }

}

@media only screen and (max-width: 1199px) {
    .section-2__text-1 {

        font-size: 30px;
        margin-top: 20px;
    }

    .section-2__text-2 {
        font-size: 18px;
    }

    .s2-fb {
        margin-top: 60px;
    }

    .s2-fb__title {
        font-size: 19px;
    }

    .s2-fb__old-price {
        font-size: 23px;
        margin-top: 20px;
    }

    .s2-fb__new-pice {
        font-size: 34px;
    }
}

@media only screen and (max-width: 600px) {
    .section-2 {
        margin-top: -70px;
        background: #fff;
        border-radius: 22px;
        position: relative;
        z-index: 2;
        padding-top: 15px;

        &__text-1 {
            font-size: 22px;
            margin-bottom: 0;
        }

        &__text-2 {
            font-size: 15px;
            margin-top: 5px;
        }
    }

    .s2-fb__title {
        font-size: 20px;
    }

    .s2-fb__left,
    .s2-fb__right {
        padding-top: 25px;
    }

    .s2-fb__new-pice {
        font-size: 24px;
    }

    .s2-fb__old-price {
        font-size: 18px;
        margin-top: 10px;
    }

    .s2-fb__center img {
        width: 78px;
    }
}

@media only screen and (max-width: 450px) {
    .section-2 {
        margin-top: -230px;
    }
}
