.section-9{
  padding-top: 105px;
  padding-bottom: 145px;
  background: url("../images/bg-section-9.jpg") center bottom no-repeat;
  @include media((
          padding-top: (lg:95px,md:75px),
          padding-bottom: (lg:105px,md:70px)
  ));
}

.portfolio{
  &__block-title{
    margin-bottom: 75px;
    @include media((
            margin-bottom: (md:45px),
    ));
  }
  &__info{
    margin-top: 53px;
    @include media((
            margin-top: (md:40px),
    ));
  }
  &__title{
    color: #000000;
    font-family: $font2;
    font-size: 26px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    @include media((
            font-size: (md:22px),
    ));
  }
  &__text{
    width: 975px;
    max-width: 100%;
    margin: 16px auto 0;
    color: #000000;
    font-family: $font2;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    @include media((
            font-size: (md:15px),
    ));
  }
}

.organizers{
  margin-top: 240px;
  @include media((
          margin-top: (lg:130px,md:100px),
  ));
  &__block-title{
    margin-bottom: 65px;
    @include media((
            margin-bottom: (md:50px),
    ));
  }
  &__item{
    display: flex;
    justify-content: flex-start;
    &+&{
      margin-top: 12px;
      @include media((
              margin-top: (md:20px),
      ));
    }
    &:nth-child(odd){
      justify-content: flex-end;
    }
    &:nth-child(3){
      .organizers__content{
        &::before{
          content: "";
          display: block;
          width: 414px;
          height: 92px;
          position: absolute;
          left: -457px;
          top: -11px;
          background: url("../images/bg-org1.png") center center no-repeat;
          background-size: contain;
          @include media((
                  width: (lg:294px),
                  height: (lg:68px),
                  left: (lg:-307px),
                  top: (lg:-12px),
                  display: (md:none),
          ));
        }
      }
    }
    &:nth-child(4){
      .organizers__content{
        &::before{
          content: "";
          display: block;
          width: 280px;
          height: 46px;
          position: absolute;
          left: 243px;
          top: -81px;
          background: url("../images/bg-org-2.png") center center no-repeat;
          background-size: contain;
          @include media((
                  width: (lg:230px),
                  height: (lg:39px),
                  left: (lg:93px),
                  top: (lg:-67px),
                  display: (md:none),
          ));
        }
      }
    }
    &:nth-child(5){
      .organizers__content{
        &::before{
          content: "";
          display: block;
          width: 409px;
          height: 127px;
          position: absolute;
          left: -448px;
          top: -9px;
          background: url("../images/bg-org-3.png") center center no-repeat;
          background-size: contain;
          @include media((
                  width: (lg:299px),
                  height: (lg:94px),
                  left: (lg:-308px),
                  top: (lg:-9px),
                  display: (md:none),
          ));
        }
      }
    }
  }
  &__content{
    display: flex;
    align-items: center;
    width: 585px;
    position: relative;
  }
  &__img{
    display: block;
    width: 163px;
    min-width: 163px;
  }
  &__info{
    margin-left: 28px;
  }
  &__name{
    color: #000000;
    font-family: $font2;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
  }
  &__role{
    color: #000000;
    font-family: $font2;
    font-size: 14px;
    font-style: italic;
    margin-top: 6px;
  }
  &__text{
    color: #000000;
    font-family: $font2;
    font-size: 14px;
    font-style: italic;
    margin-top: 23px;
  }
}