.section-5 {
    background: url('../images/bg-s-5.png') no-repeat center center;
    background-size: 100% 100%;
    width: 1920px;
    max-width: 100%;
    margin: 0 auto;

    padding-bottom: 400px;

    @include media((
            padding-bottom: (md:220px,sm:50px),
    ));
}

.gifts-card {
    background: url('../images/s5-card-bg.jpg') no-repeat center center;
    background-size: cover;
    width: 975px;
    margin: 0 auto;
    max-width: 100%;
    padding: 45px  15px 77px;
    text-align: center;
    position: relative;

    box-shadow: 0 9px 60px 2px rgba(0, 138, 190, 0.17);
    border-radius: 4px;

    &__title {
        color: #000000;
        font-family: $font2;
        font-size: 36px;
        font-weight: 700;
        font-style: italic;
    }

    &__line-1 {
        color: #00baff;
        font-family: $font1;
        font-size: 37px;
        font-weight: 700;
        margin-top: 36px;
    }

    &__line-2 {
        font-family: $font1;
        font-weight: 300;
        font-size: 16px;
        margin-top: -6px;
    }

    &__present{
        position: absolute;
        right: -55px;
        bottom: -92px;
        width: 267px;
        pointer-events: none;
        @include media((
                width: (md:187px,sm:100px),
                right: (sm:-19px),
                bottom: (sm:-32px),
        ));
        img{
            display: block;
            width: 100%;
        }
    }
    &::before{
        content: "";
        display: block;
        width: 931px;
        height: 679px;
        position: absolute;
        left: -140px;
        bottom: -251px;
        background: url("../images/bg-present.png") center top no-repeat;
        background-size: 100% auto;
        pointer-events: none;
        @include media((
                width: (md:701px),
                height: (md:513px),
                left: (md:-105px),
                bottom: (md:-191px),
                display: (sm:none),
        ));
    }
    .btn{
        width: 184px;
        height: 46px;
    }
}

@media(min-width:1200px) {
    .s3-cf--section-5 {
        .s3-cf {
            &__input-row {
                margin-top: 37px;
            }

            &__bottom {}

            .callback-form__input {
                &--s3-cf {}
            }

            .btn {}


            .s3-cf__desc {
                color: #000;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 300;
                width: 539px;
                max-width: 100%;
                margin-top: 26px;
            }
        }
    }
}


@media screen and (max-width:850px) {

    .gifts-card__decoration {
        display: none;
    }
}

@media (max-width: 767px) {
    .gifts-card__title {
        font-size: 27px;
    }

    .gifts-card__line-1 {
        font-size: 28px;
        margin-top: 0px;
        margin-bottom: 8px;
    }
}

@media only screen and (max-width: 600px) {
    .gifts-card__title {
        font-size: 22px;
    }

    .gifts-card__line-1 {
        font-size: 22px;
        margin-top: 6px;
        margin-bottom: 11px;
    }
}



.section-5 .fotoslider {

    margin-top: -41px;
    margin-bottom: 71px;

    @include media((
            margin-top: (sm:30px),
            margin-bottom: (sm:20px),
    ));
}


@media (max-width:767px) {}
