.section-9{
  padding-top: 107px;
  padding-bottom: 144px;
  background: url("../images/bg-section-9.jpg") center bottom no-repeat;
  @include media((
          padding-top: (lg:95px,md:75px,sm:50px),
          padding-bottom: (lg:105px,md:70px,sm:40px)
  ));
}

.portfolio{
  &__block-title{
    margin-bottom: 77px;
    @include media((
            margin-bottom: (md:45px,sm:25px),
    ));
  }
  &__info{
    margin-top: 54px;
    @include media((
            margin-top: (md:40px,sm:30px),
    ));
  }
  &__title{
    color: #000000;
    font-family: $font2;
    font-size: 26px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    @include media((
            font-size: (md:22px,sm:16px),
    ));
  }
  &__text{
    width: 975px;
    max-width: 100%;
    margin: 18px auto 0;
    color: #000000;
    font-family: $font2;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    @include media((
            font-size: (md:15px,sm:13px),
            margin-top: (sm:9px),
    ));
  }
}

.organizers{
  margin-top: 244px;
  @include media((
          margin-top: (lg:130px,md:100px,sm:70px),
  ));
  &__block-title{
    margin-bottom: 69px;
    @include media((
            margin-bottom: (md:50px),
    ));
  }
  &__item{
    display: flex;
    justify-content: flex-start;
    &+&{
      margin-top: 12px;
      @include media((
              margin-top: (md:30px),
      ));
    }
    &:nth-child(odd){
      justify-content: flex-end;
    }
    &:nth-child(2n+1){
      .organizers__content{
        &::before{
          content: "";
          display: block;
          width: 414px;
          height: 92px;
          position: absolute;
          left: -457px;
          top: -11px;
          background: url("../images/bg-org1.png") center center no-repeat;
          background-size: contain;
          @include media((
                  width: (lg:294px),
                  height: (lg:68px),
                  left: (lg:-307px),
                  top: (lg:-12px),
                  display: (md:none),
          ));
        }
      }
    }
    &:nth-child(2n+4){
      .organizers__content{
        &::before{
          content: "";
          display: block;
          width: 280px;
          height: 46px;
          position: absolute;
          left: 243px;
          top: -48px;
          background: url("../images/bg-org-2.png") center center no-repeat;
          background-size: contain;
          @include media((
                  width: (lg:230px),
                  height: (lg:39px),
                  left: (lg:93px),
                  top: (lg:-67px),
                  display: (md:none),
          ));
        }
      }
    }
    /*&:nth-child(5){
      .organizers__content{
        &::before{
          content: "";
          display: block;
          width: 409px;
          height: 127px;
          position: absolute;
          left: -448px;
          top: -9px;
          background: url("../images/bg-org-3.png") center center no-repeat;
          background-size: contain;
          @include media((
                  width: (lg:299px),
                  height: (lg:94px),
                  left: (lg:-308px),
                  top: (lg:-9px),
                  display: (md:none),
          ));
        }
      }
    }*/
  }
  &__content{
    display: flex;
    align-items: center;
    width: 585px;
    max-width: 100%;
    position: relative;
    @include media((
            align-items: (sm:flex-start),
    ));
  }
  &__img{
    display: block;
    width: 163px;
    min-width: 163px;
    @include media((
            width: (sm:60px),
            min-width: (sm:60px),
    ));
  }
  &__info{
    margin-left: 28px;
    @include media((
            margin-left: (sm:15px),
    ));
  }
  &__name{
    color: #000000;
    font-family: $font2;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    @include media((
            font-size: (sm:15px),
    ));
  }
  &__role{
    color: #000000;
    font-family: $font2;
    font-size: 14px;
    font-style: italic;
    margin-top: 6px;
    @include media((
            font-size: (sm:13px),
    ));
  }
  &__text{
    color: #000000;
    font-family: $font2;
    font-size: 14px;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 10px;
    @include media((
            font-size: (sm:13px),
            margin-top: (sm:13px),
            margin-bottom: (md:0),
    ));
  }
}