.section-4 {
    text-align: center;
    margin-top: 13px;

    &__title {
        font-family: "DejaVu Serif";
        font-size: 44px;
        font-weight: 700;
        font-style: italic;
    }

    &__text-2 {
        color: #000000;
        font-family: "DejaVu Serif";
        font-size: 16px;
        font-style: italic;
        margin-top: 18px;
    }


}

.we-know-block {
    margin-top: 26px;
    width: 100%;
    position: relative;
    padding-top: 500px;


}

.wk-item {
    &__img {
        transition: transform 0.6s ease;
    }
    &:hover{
        .wk-item__img{
            transform: scale(1.2);
        }
    }
    z-index: 5;

    position: absolute;
    width: 220px;

    &__title {
        font-family: "PT Serif Pro";
        font-size: 16px;
        font-weight: 700;
    }

    &__desc {
        font-family: "PT Serif Pro";
        font-size: 14px;
    }


    &--1 {
        left: -1.7%;
        top: 55%;

        .wk-item__title {
            margin-top: 22px;
        }
    }

    &--2 {
        left: 27%;
        top: 18%;

        .wk-item__title {
            margin-top: 39px;
        }

    }

    &--3 {
        left: 57%;
        top: 19%;

        .wk-item__title {
            margin-top: 14px;
        }

    }

    &--4 {
        left: 82.5%;
        top: 60%;

        .wk-item__title {
            margin-top: 17px;
        }
    }
}

.wk-trace {
    position: absolute;

    &--1 {
        left: 13%;
        top: 39%;
    }

    &--2 {
        left: 45%;
        top: 32%;
    }

    &--3 {
        left: 72%;
        top: 40%;
    }
}

.wk-big-pic {
    margin-top: -148px;
    margin-left: 110px;
    @include media((
            margin-left: (lg:0),
    ));
}

@media only screen and (max-width: 1199px) {
    .section-4__title {
        font-size: 30px;
    }
}

@media screen and (max-width:1039px) {
    .wk-item--4 {
        right: 0;
        left: auto;
        top: 60%;
    }

    .wk-trace--3 {
        left: 74%;
        width: 128px;
        transform: rotate(10deg);
        top: 44%;
    }

    .wk-trace--2 {
        left: 50%;
        top: 32%;
        width: 100px;
    }

    .wk-item--2 {
        left: 32%;
        top: 18%;
    }


    .wk-trace--1 {
        left: 22%;
        top: 41%;
        width: 118px;
    }

    .wk-item--1 {
        left: 5.3%;
        top: 48%;
    }
}

@media screen and (max-width:991px) {

    .wk-trace {

        &--1 {
            width: 135px;
        }

        &--2 {
            left: 51%;
            width: 95px;
        }

        &--3 {
            left: 76%;
            top: 43%;
            width: 150px;
            transform: rotate(10deg);
        }
    }

    .wk-big-pic {
        width: 371px;
        max-width: 100%;
    }
}

@media (max-width:767px) {
    .wk-trace {
        display: none;
    }

    .wk-item {
        position: static;
        margin-bottom: 10px;
    }

    .section-4__title {
        font-size: 20px;
    }
    .section-4__text-2 {
        font-size: 14px;
        margin-top: 16px;
    }

    .section-4{margin-top: 53px;}

    .we-know-block {
        margin-top: 30px;
        padding-top: 0;
    }
    .wk-item{width: 100%;
    }
    .wk-big-pic{
        display: none;
    }
}
